body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.modo-escuro{
    background-color: #212121;
}

header{
    background-color: ;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid#333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 10px;
}

main .cartao-pokemon .tipo{
    margin-top: 5px;
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7AC74C;
}

.veneno{
    background-color: #A33EA1;
}

.fogo{
    background-color: #EE8130;
}

.voador{
    background-color: #A98FF3;
}

.agua{
    background-color: #6390F0;
}

.inseto{
    background-color: #A6B91A;
}

.normal{
    background-color: #A8A77A;
}

.eletrico{
    background-color: #F7D02C;
}

.gelo{
    background-color: #96D9D6;
}

.lutador{
    background-color: #C22E28;
}

.terra{
    background-color: #E2BF65;
}

.psiquico{
    background-color: #F95587;
}

.pedra{
    background-color: #B6A136;
}

.fantasma{
    background-color: #735797;
}

.dragao{
    background-color: #6F35FC;
}

.noturno{
    background-color: #705746;
}

.aco{
    background-color: #B7B7CE;
}

.fada{
    background-color: #D685AD;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}
